@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');

:root{
 --near-white: hsl(0, 0%, 98%);
 --medium-gray: hsl(0, 0%, 41%);
 --near-black: hsl(0, 0%, 8%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Epilogue', sans-serif;
}
body{
    background-color: var(--near-white)
}
.navbar{
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar .logo{
    cursor: pointer;
}
.navbar nav{
    margin-right: auto;
    margin-left: 50px;
}
.navbar nav .nav-link{
    text-decoration: none;
    color: var(--medium-gray);
    margin-right: 25px;
    transition: 0.4s;
}
.button{
    border: none;
    outline: none;
    appearance: none;
    background: none;
    font-size: 17px;

    color: var(--medium-gray);
    padding: 15px 30px;
}
.button.register{
    border: 2px solid var(--medium-gray);
    border-radius: 18px;
}
.main-part{
    margin-top: 30px;
    padding: 0 10%;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}
.left-side{
    width: 500px;
}
.left-side .heading{
    font-size: 4.7rem;
    color: var(--near-black);
    font-weight: bold;
}
.left-side .paragraph{
    line-height: 1.8rem;
    color: var(--medium-gray);
    margin: 80px 50px 80px 0;
    font-size: 18px;
}
.left-side .learn-more{
    background-color: var(--near-black);
    color: var(--near-white);
    border-radius: 12px;
    font-size: 18px;
    font-weight: bold;
    border: 1px solid black;
}
.left-side .logos{
    margin-top: 80px;
}
.left-side .logos img{
    margin-right: 15px;
}
.right-side{
    width: 550px;
    background-image: url(./images/image-hero-desktop.png);
    height: 700px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 85%;
}
.right-side img{
    width: 100%;
}
button{
    cursor: pointer;
    transition: 0.4s;
}

/* hover and active states */
.button:hover{
    color: var(--near-black);
}
.learn-more:hover{
    background-color: var(--near-white);
}
.register:hover{
    border: 2px solid var(--near-black);
}
.navbar nav .nav-link:hover{
    color: var(--near-black);
}

/* dropdowns */
.dropdown{
    padding: 20px;
    background-color: white;
    border-radius: 15px;
    position: absolute;
    top: 80px;
    filter: drop-shadow(0 5px 0.3rem rgb(221, 221, 221));
    transition: 0.4s;
}
.dropdown li{
    list-style: none;
    color: var(--medium-gray);
    margin-bottom: 15px;
}
.dropdown li img{
    margin-right: 10px;
}
.dropdown li:last-child{
    margin-bottom: 0;
}
.dropdown.company-dropdown{
    display: none;
    left: 280px;
}
.dropdown.feature-dropdown{
    display: none;
    left: 100px;
}

/* class for making blocks */
.block{
    display: block !important;
}

/* individual code for sidebar */
.sidebar-div{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sidebar-bg{
    display: none;
}
.menu-icon, .close-icon{
    display: none;
}
@media screen and (max-width: 1100px){
    .main-part{
        align-items: center;
    }
    .buttons{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 720px){
    .container{
        position: relative;
    }
    .menu-icon{
        display: block;
    }
    .sidebar-div{
        display: none;
        display: block;
        position: fixed;
        width: 70%;
        background: white;
        height: 100vh;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 10;
    }
    .close-icon{
        display: block;
        text-align: right;
        width: 30px;
        margin: 20px 20px 20px auto;
    }
    .sidebar-bg{
        display: none;
        position: absolute;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        background: #00000070;
    }
    .show.sidebar-bg, .show.sidebar-div{
        display: block;
    }
    nav{
        display: flex;
        flex-direction: column;
    }
    nav .nav-link{
        margin-bottom: 30px;
    }
    .main-part{
        flex-direction: column-reverse;
    }
    .left-side{
        text-align: center;
    }
    .left-side .heading{
        font-size: 3rem;
        margin-top: 30px;
    }
    .left-side .paragraph{
        margin: 30px;
    }
    .left-side .logos{
        margin: 40px 0;
    }
    .right-side{
        background-image: url(./images/image-hero-mobile.png);
        height: 300px;
        width: 400px;
    }
}

@media screen and (max-width: 470px){
    .right-side{
        width: 100%;
        background-size: 100%;
    }
}