
:root{
    --bright-blue: hsl(220, 98%, 61%);
    --check-first: hsl(192, 100%, 67%);
    --check-second: hsl(280, 87%, 65%);
    --dark-blue: hsl(235, 21%, 11%);
    --dark-saturated-blue: hsl(235, 24%, 19%);
    --light-grayish-blue: hsl(234, 39%, 85%);
    --light-grayish-blue-hover: hsl(236, 33%, 92%);
    --dark-grayish-blue: hsl(234, 11%, 52%);
    --very-dark-grayish-blue: hsl(233, 14%, 35%);
}
.night-mode{
    background: var(--dark-blue);
}
.night-mode .hero-image{
    background: url(images/bg-desktop-dark.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 350px;
}
.night-mode .todo__create, .night-mode .todo__list, .night-mode .todo__input{
    background: var(--dark-saturated-blue);
}
.night-mode .todo__input{
    color: var(--light-grayish-blue);
}
.night-mode .todo__container{
    color: var(--light-grayish-blue);
}
.night-mode .todo__container li{
    border-bottom-color: var(--dark-grayish-blue);
}

@media screen and (max-width: 450px){
    .night-mode .display-block-choice{
        background: var(--dark-saturated-blue);
    }
}