@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Overpass', sans-serif;
  font-family: 'Ubuntu', sans-serif;
}

body {
  overflow-x: hidden;
}

.intro {
  background: url(../images/bg-pattern-intro-desktop.svg), -webkit-gradient(linear, left top, right top, from(#ff8f70), to(#ff3d54));
  background: url(../images/bg-pattern-intro-desktop.svg), linear-gradient(to right, #ff8f70, #ff3d54);
  min-height: 80vh;
  border-bottom-left-radius: 5rem;
  border-bottom-right-radius: 5rem;
  background-size: 150%;
  background-position: center;
  position: relative;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 3rem 10rem 0 10rem;
}

.navbar .logo {
  margin-right: 30px;
}

.navbar .no-mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.navbar ul {
  list-style-type: none;
}

.navbar ul li {
  display: inline-block;
  margin-left: 25px;
}

.navbar ul li a {
  text-decoration: none;
  font-weight: 500;
  color: white;
}

.navbar .product, .navbar .company, .navbar .connect {
  position: relative;
}

.navbar .company-detail {
  left: 420px;
}

.navbar .connect-detail {
  left: 500px;
}

.navbar .detail {
  display: none;
  top: 110px;
  position: absolute;
  background: white;
  padding: 1.2rem;
  border-radius: 10px;
}

.navbar .detail a {
  display: block;
  text-decoration: none;
  color: black;
  margin-bottom: 10px;
}

.navbar .nav-btns {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: right;
}

.button {
  border: none;
  padding: 1rem 3rem;
  border-radius: 30px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.white-btn {
  background: white;
  color: #ff525d;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.white-btn:hover {
  background: #ffffff40;
  color: white;
}

.nobackground-btn {
  background: none;
  color: white;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

.content .title {
  font-size: 4rem;
}

.content .para {
  font-size: 18px;
  margin: 30px 0 50px 0;
}

.content .learn-btn {
  background: none;
  border: 1px solid white;
  color: white;
  margin-left: 30px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.content .learn-btn:hover {
  background: white;
  color: #ff525d;
}

.design-part {
  margin-top: 6rem;
  min-height: 90vh;
}

.design-part .design-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 6rem;
}

.design-part .design-flex .design-img {
  margin-right: -200px;
}

.design-part .heading {
  text-align: center;
  font-size: 2.2rem;
  font-weight: 600;
  padding: 60px 0;
}

.design-part .h-color {
  color: #1f3f5b;
  font-family: 'Overpass', sans-serif;
}

.design-part .design-content {
  width: 700px;
  margin-left: 10rem;
  padding: 5rem 0;
}

.design-part .sub-content {
  margin-bottom: 50px;
}

.design-part .sub-content .content-h {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 20px;
}

.design-part .sub-content .content-para {
  font-family: 'Overpass', sans-serif;
  color: #4b5862;
  line-height: 1.8rem;
  font-size: 20px;
}

.phone-part {
  width: 100vw;
  height: 40vh;
  background: url(../images/bg-pattern-circles.svg), -webkit-gradient(linear, left top, right top, from(#2c2d3f), to(#3f4164));
  background: url(../images/bg-pattern-circles.svg), linear-gradient(to right, #2c2d3f, #3f4164);
  background-repeat: no-repeat;
  background-position-y: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-top-right-radius: 5rem;
  border-bottom-left-radius: 5rem;
}

.phone-part .phone-content {
  width: 550px;
}

.phone-part .phone-content .title, .phone-part .phone-content .para {
  font-family: 'Overpass';
}

.phone-part .phone-content .title {
  font-size: 2.2rem;
  color: white;
  font-weight: 600;
}

.phone-part .phone-content .para {
  color: #c8c8cb;
  line-height: 1.8rem;
  margin-top: 30px;
  font-size: 20px;
}

.laptop-part {
  margin-top: 6rem;
  min-height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-right: 200px;
  padding-top: 6rem;
}

.laptop-part .laptop-img {
  margin-left: -100px;
}

.laptop-part .heading {
  text-align: center;
  font-size: 2.2rem;
  font-weight: 600;
  padding: 60px 0;
}

.laptop-part .h-color {
  color: #1f3f5b;
  font-family: 'Overpass', sans-serif;
}

.laptop-part .laptop-content {
  width: 700px;
  margin-left: 10rem;
  padding: 5rem 0;
}

.laptop-part .sub-content {
  margin-bottom: 50px;
}

.laptop-part .sub-content .content-h {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 20px;
}

.laptop-part .sub-content .content-para {
  font-family: 'Overpass', sans-serif;
  color: #4b5862;
  line-height: 1.8rem;
  font-size: 20px;
}

.contact-part {
  background: #25252d;
  border-top-right-radius: 5rem;
  padding: 4rem 10rem 4rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.contact-part .title {
  color: white;
  font-weight: bold;
}

.contact-part ul {
  list-style: none;
  margin-top: 30px;
}

.contact-part ul li {
  margin-bottom: 15px;
}

.contact-part ul li a {
  color: #c8c8cb;
  text-decoration: none;
}

.contact-part ul li a:hover {
  text-decoration: underline;
}

.display-block {
  display: block !important;
}

.display-none {
  display: none !important;
}

.menu-icon {
  display: none;
}

.menu-slide {
  display: none;
}

.rotate {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

@media screen and (max-width: 500px) {
  .no-mobile {
    display: none !important;
  }
  .intro {
    min-height: 90vh;
    border-bottom-right-radius: 0;
    background-size: 400%;
    width: 100vw;
  }
  .intro .navbar {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 3rem 2rem;
  }
  .intro .navbar .menu-icon {
    display: block;
  }
  .intro .navbar .menu-slide {
    z-index: 100;
    display: none;
    position: fixed;
    padding: 1rem;
    width: 80%;
    background: white;
    top: 150px;
    border-radius: 10px;
    -webkit-box-shadow: 0 3px 10px #00000033;
            box-shadow: 0 3px 10px #00000033;
  }
  .intro .navbar .menu-slide .accordion {
    text-align: center;
  }
  .intro .navbar .menu-slide .accordion .title {
    font-weight: bold;
    margin: 10px;
    color: #1f3f5b;
  }
  .intro .navbar .menu-slide .accordion .title:hover {
    color: #1f3f5b70;
  }
  .intro .navbar .menu-slide .accordion .list {
    list-style: none;
    background: #e8e8e8;
    height: 0;
    padding: 0;
    overflow: hidden;
    border-radius: 10px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .intro .navbar .menu-slide .accordion .list li {
    display: block;
    margin-left: 0;
    margin-bottom: 12px;
    color: #1f3f5b;
  }
  .intro .navbar .menu-slide .last-accordion {
    margin-bottom: 20px;
  }
  .intro .navbar .menu-slide .accordion.active .title img {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  .intro .navbar .menu-slide .accordion.active .list {
    padding: 1rem;
    height: auto;
  }
  .intro .navbar .menu-slide .nav-btns {
    border-top: 1px solid #b6b6b6;
    text-align: center;
  }
  .intro .navbar .menu-slide .nav-btns .button {
    padding: 0.8rem;
  }
  .intro .navbar .menu-slide .nav-btns .mobile-login {
    background: none;
    color: #1f3f5b;
    margin-bottom: 15px;
  }
  .intro .navbar .menu-slide .nav-btns .mobile-sign-up {
    background: -webkit-gradient(linear, left top, right top, from(#ff8f70), to(#ff3d54));
    background: linear-gradient(to right, #ff8f70, #ff3d54);
    color: white;
  }
  .intro .navbar .show-menu-slide {
    display: block;
  }
  .content {
    width: 360px;
  }
  .content .title {
    font-size: 2rem;
    width: 300px;
    text-align: center;
    margin: 0 auto;
  }
  .content .content-btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .button {
    padding: 20px 25px;
    width: 180px;
    font-size: 18px;
  }
  .design-part {
    margin-top: 0;
  }
  .design-part .heading {
    font-size: 1.8rem;
  }
  .design-part .design-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .design-part .design-content {
    margin-left: 0;
    width: 400px;
    text-align: center;
    padding: 3rem 1rem;
  }
  .design-img, .laptop-img {
    width: 400px;
  }
  .design-img img, .laptop-img img {
    width: 100%;
  }
  .phone-part {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: 100vh;
    margin: 50px 0;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .phone-part .phone-img {
    width: 400px;
    margin-top: -130px;
  }
  .phone-part .phone-img img {
    width: 100%;
  }
  .phone-part .phone-content {
    width: 380px;
    text-align: center;
  }
  .laptop-part {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .laptop-part .laptop-img {
    margin: 0;
  }
  .laptop-part .laptop-content {
    margin-left: 0;
    width: 400px;
    text-align: center;
    padding: 3rem 1rem;
  }
  .contact-part {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    padding: 4rem 0;
  }
  .contact-part .title {
    margin-top: 30px;
  }
}
/*# sourceMappingURL=all.css.map */