@import url("https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: 'Alata', sans-serif;
  font-family: 'Josefin Sans', sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px grey;
          box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: dimgray;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: dimgray;
}

body {
  background: white;
}

.intro {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3))), url(../images/desktop/image-hero.jpg);
  background: linear-gradient(rgba(0, 0, 0, 0.3)), url(../images/desktop/image-hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 80vh;
  padding: 40px 12%;
}

.intro .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.intro .logo-img {
  width: 230px;
}

.intro nav ul {
  list-style: none;
}

.intro nav ul li {
  display: inline-block;
  margin-right: 30px;
}

.intro nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 18px;
}

.intro .content {
  margin-top: 250px;
  border: 4px solid white;
  padding: 60px;
  width: 700px;
}

.intro .content p {
  text-transform: uppercase;
  color: white;
  font-size: 5rem;
}

.carrers {
  padding: 40px 12%;
  position: relative;
}

.carrers .carrer-img {
  margin: 100px 0;
  width: 1000px;
}

.carrers .carrers-content {
  position: absolute;
  width: 500px;
  padding: 100px;
  background-color: white;
  right: 180px;
  bottom: 120px;
}

.carrers .carrers-content .title {
  text-transform: uppercase;
  font-size: 2.5rem;
  letter-spacing: 0.1rem;
  margin-bottom: 20px;
}

.carrers .carrers-content .paragraph {
  color: dimgray;
  font-weight: bold;
  font-weight: 18px;
  line-height: 1.5rem;
}

.events {
  padding: 40px 12%;
}

.events .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.events .header .heading {
  text-transform: uppercase;
  font-size: 2.5rem;
}

.events .header .see-all {
  padding: 10px 40px;
  border: 2px solid black;
  text-transform: uppercase;
  font-weight: bold;
}

.products {
  padding: 40px 12%;
}

.products .product-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[4];
      grid-template-columns: repeat(4, auto);
  gap: 30px;
}

.products .product-grid .grid-item {
  position: relative !important;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8));
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.products .product-grid .grid-item .grid-image {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.6;
}

.products .product-grid .grid-item .photo-text {
  position: absolute;
  text-transform: uppercase;
  color: white;
  bottom: 40px;
  font-size: 3rem;
  left: 20px;
  width: 250px;
}

.products .product-grid .grid-item:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.5)));
  background: linear-gradient(rgba(255, 255, 255, 0.5));
}

.support {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 40px 12%;
  background: black;
}

.support .nav-section nav ul {
  list-style: none;
  margin-top: 30px;
}

.support .nav-section nav ul li {
  display: inline-block;
  margin-right: 30px;
}

.support .nav-section nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 18px;
}

.support .social-section {
  text-align: right;
}

.support .social-section .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.support .social-section .icons img {
  margin-right: 30px;
}

.support .social-section .footer-text {
  color: #8c8c8c;
}
/*# sourceMappingURL=all.css.map */