@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root{
    --orange: hsl(26, 100%, 55%);
    --pale-orange: hsl(25, 100%, 94%);
    --dark-blue: hsl(220, 13%, 13%);
    --dark-grayish-blue: hsl(219, 9%, 45%);
    --light-grayish-blue: hsl(223, 64%, 98%);
    --black-for-lightbox: hsl(0, 0%, 0%);
    --white: hsl(0, 0%, 100%);
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
}
/* body{

} */
.main{
    width: 75%;
    height: 100vh;
    margin: 0 auto;
    overflow: hidden;
}
.menu-icon{
    display: none;
}
.sliders{
    display: none;
}
nav, .logo-side, .user-side{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav{
    height: 12vh;
    border-bottom: 1px solid var(--dark-grayish-blue);
}
.logo-side img{
    margin-right: 30px;
}
.logo-side ul{
    list-style: none;
}
.logo-side ul li{
    display: inline-block;
    margin-right: 25px;
}
.logo-side ul li a{
    text-decoration: none;
    color: var(--dark-grayish-blue);
    padding: 4.7vh 0;
    transition: 0.1s;
}
.user-side .user-img img{
    width: 50px;
    height: 50px;
    /* margin-left: 60px; */
    transition: 0.3s;
    border-radius: 50%;
}
.cart svg path{
    fill: grey;
}
.cart{
    margin-right: 50px;
}
.product{
    display: flex;
    justify-content: space-around;
    margin-top: 80px;
    height: auto;
    align-items: center;
}
.product-img{
    width: 500px;
}
/* .main-img{

} */
.main-img img{
    width: 100%;
    border-radius: 25px;
}
.sub-img{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.sub-img img{
    width: 100px;
    border-radius: 15px;
    transition: 0.3s;
    /* margin-right: 25px; */
}
.product-content{
    width: 470px;
}
.product-content span{
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.2rem;
}
.product-content .orange-text{
    color: var(--orange);
}
.product-content .muted-text{
    color: var(--dark-grayish-blue);
}
.product-content h1{
    font-size: 2.7rem;
    margin: 25px 0;
}
.product-content p{
    line-height: 1.5rem;
}
.pricing{
    margin: 40px 0;
    display: flex;
    align-items: flex-start;
    height: auto;
}
.real-price h2{
    margin-bottom: 15px;
    font-size: 1.7em;
}
.real-price h4{
    text-decoration: line-through;
}
.dis-percent{
    margin-left: 20px;
    background-color: var(--pale-orange);
    padding: 5px;
    border-radius: 10px;
}
.percentage{
    font-size: 16px;
}
.buttons{
    display: grid;
    grid-template-columns: 40% 60%;
}
.quantity-btn{
    padding: 15px 7px;
    background-color: var(--light-grayish-blue);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: auto;
}
.quantity-input{
    border: none;
    background-color: var(--light-grayish-blue);
    width: 100px;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
}
.minus-btn, .plus-btn{
    cursor: pointer;
    transition: 0.2s;
}
.quantity-input:focus-visible{
    outline: none;
}
.add-to-cart-btn{
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 15px 50px;
    background-color: var(--orange);
    /* text-align: center; */
    justify-content: center;
    color: white;
    margin-left: 20px;
    border-radius: 5px;
    transition: 0.5s;
}
.logo-side ul li a:hover{
    color: black;
    border-bottom: 4px solid var(--orange);
}
.cart svg:hover path{
    fill: black;
}
.cart-card{
    position: absolute;
    top: 100px;
    width: 400px;
    height: 250px;
    background: white;
    right: 250px;
    box-shadow: 0;
    box-shadow: 0 2px 50px #00000020;
    border-radius: 15px;
    z-index: 100;
}
.cart-text{
    padding: 20px;
    border-bottom: 1px solid #eee;
}
.cart-has-item, .cart-empty{
    display: none;
    min-height: 200px;
}
.cart-empty-show, .cart-has-item-show{
    display: block !important;
}
.empty{
    text-align: center;
    min-height: 190px;
    line-height: 190px;
    color: var(--dark-grayish-blue);
}
.item-list{
    padding: 20px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    margin-bottom: 20px;
}
.item-list .selected-image{
    width: 50px;
    border-radius: 5px;
}
.item-list p{
    color:hsl(219, 9%, 45%);
}
.item-price{
    display: flex;
    margin-top: 10px;
}
.price{
    margin-right: 20px;
}
.del-icon{
    height: 20px;
}
.checkout-btn{
    width: 100%;
    background-color: var(--orange);
    margin: 0 15px 20px 15px;
    /* margin: 0 15px; */
    padding: 15px 150px;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.user-img{
    width: 51px;
    display: flex;
    justify-content: center;
}
.user-img:hover img{
    border: 2px solid var(--orange);
}
.sub-img img:hover{
    opacity: 0.5;
}
.add-to-cart-btn:hover{
    opacity: 0.5;
    box-shadow: 0 7px 25px var(--orange);
}
.minus-btn svg:hover path, .plus-btn svg:hover path{
    fill: #FF7E1B90;
}

.lightbox{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.75);
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(1,0);
    transform-origin: bottom;
    transition: transform ease-in-out 500ms;
}
.lightbox:target{
    transform: scale(1,1);
    transform-origin: top;
}
.lightbox__content{
    width: 30%;
    position: relative;
}
.lightbox-close{
    right: 0;
    top: -50px;
    position: absolute;
    z-index: 100;
}
.lightbox-close svg path{
    fill: var(--white);
}
.next-icon, .previous-icon{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
}
.lightbox_main_img{
    position: relative;
}
.previous-icon{
    left: -25px;
}
.next-icon{
    right: -25px;
}
.show-menu-close-btn{
    display: none;
}
@media screen and (max-width: 450px){
    .main{
        width: 95%;
        overflow-y: scroll;
    }
    nav{
        border: 0;
    }
    /* .logo-side ul{
        display: none;
    } */
    .show-menu{
        padding-top: 20px;
        display: block !important;
        position: fixed;
        background: white;
        width: 50%;
        height: 100vh;
        z-index: 50;
        top: 0;
        left: 0;
        padding-left: 15px;
        margin-left: -100%;
        transition: 0.5s;
    }
    .show-menu li{
        display: block !important;
        margin-top: 30px;
    }
    .show-menu li a{
        color: black !important;
        font-weight: bold;
    }
    .show-menu li a:hover{
        border: none !important;
    }
    .show-menu-close-btn{
        display: block;
        margin-bottom: 40px;
        margin-top: 20px;
    }
    .user-side .cart{
        margin-right: 20px;
    }
    .product{
        flex-direction: column;
        margin-top: 0;
    }
    .cart-card{
        right: 10px;
        width: 95%;
    }
    .main-img, .sub-img{
        display: none;
    }
    .menu-icon{
        display: block;
    }
    .product-content{
        width: 370px;
    }
    /* .lightbox-close{
        display: none;
    }
    .lightbox{
        transform: none;
        background-color: white;
        position: static;
        width: 100%;
        height: auto;
    }
    .other_lightboxes{
        display: none;
    }
    .lightbox__content{
        margin: 0;
        width: 100%;
        height: 300px;
        position: static;
        overflow: hidden;
    } */
    .lightboxes{
        display: none;
    }
    /* .previous-icon, .next-icon{
        top: 28%;
    }
    .previous-icon{
        left: 50px;
    }
    .next-icon{
        right: 50px;
    } */
    /* .other_lightboxes:target{
        display: block;
    } */
    .buttons{
        display: block;
    }
    .quantity-btn{
        border-radius: 5px;
    }
    .add-to-cart-btn{
        margin: 20px 0;
    }
    .sliders{
        display: block;
        margin: auto;
        position: relative;
        max-width: 400px;
        height: 300px;
        overflow: hidden;
    }
    .slider{
        display: none;
    }
    .prev, .next{
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        margin-top: -22px;
        padding: 16px;
        /* color: white; */
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
        background-color: var(--white);
    }
    .next{
        right: 0;
        border-radius: 3px 0 0 3px;
    }
    /* fade animation */
    .fade {
        -webkit-animation-name: fade;
        -webkit-animation-duration: 1.5s;
        animation-name: fade;
        animation-duration: 1.5s;
      }
      
      @-webkit-keyframes fade {
        from {opacity: .4}
        to {opacity: 1}
      }
      
      @keyframes fade {
        from {opacity: .4}
        to {opacity: 1}
      }
}