@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@700&display=swap');

//variables
@import './variables';

//
@import "./theme2";
@import "./theme3";

//mixins 
@mixin flexCenter($justify, $direction) {
    display: flex;
    align-items: center;
    justify-content: $justify;
    flex-direction: $direction;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Spartan', sans-serif;
    box-sizing: border-box;
}

.page{
    @include flexCenter(center, row);

    min-height: 100vh;
    background: $mainBg;
}

.main{
    min-width: 500px;
}
.header{
    @include flexCenter(space-between, row);

    margin-bottom: 30px;

    .logo{
        color: $white;
        font-size: 2rem;
    }
}

.screen{
    @include flexCenter(flex-end, row);

    background: $screenBg;
    color: $white;
    height: 100px;
    padding: 1.3rem;
    border-radius: $borderRadius;
    margin: 20px 0;

    .result{
        font-size: 2rem;
    }
}

.keypad{

    background: $keypadBg;
    padding: 1.3rem;
    border-radius: $borderRadius;
    display: grid;
    grid-template-columns: repeat(4, 110px);
    gap: 20px;

    button{
        border: none;
        padding: 1rem;
        border-radius: $borderRadius;
        font-size: 1.5rem;
        cursor: pointer;
        user-select: none;
    }

    .number, .symbol{
        background: $numberBg;
        color: $text;
        border-bottom: 4px solid $numberShadow;
    }

    .del, .reset-btn{
        background: $keyBg;
        color: $white;
        border-bottom: 4px solid $keyShadow;
        font-size: 1.2rem;
    }

    .equal-btn{
        background: $toggleKey;
        border-bottom: 4px solid $toggleKeyShadow;
        color: $white;
    }

    .span-2{
        grid-column: span 2;
    }

    // .number:hover, .symbol:hover{
    //     background: mix(black, $numberBg, 10%);
    // }
    // .del:hover, .reset-btn:hover{
    //     background: mix(black, $keyBg, 10%);
    // }
    // .equal-btn:hover{
    //     background: mix(black, $toggleKey, 10%);
    // }
}

.theme-part{
    @include flexCenter(space-around, row);

    span{
        text-transform: uppercase;
        color: $white;
        font-size: 12px;
    }

    .theme{
        @include flexCenter(space-around, column);

        margin-left: 25px;
    }

    .theme-numbers{
        display: flex;
        justify-content: space-around;
        width: 80px;
        margin-bottom: 8px;
        cursor: pointer;
    }
    .theme-number{
        user-select: none;
    }

    input[type="checkbox"]{
        -webkit-appearance: none;
        visibility: hidden;
        display: none;
    }
    .check{
        display: block;
        width: 80px;
        height: 30px;
        background: $keypadBg;
        border-radius: 20px;
        position: relative;
    }
    .check-mark{
        position: absolute;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: $toggleKey;
        top: 5px;
        left: 5px;
        transition: 0.5s;
        cursor: pointer;
    }
}

@media screen and (max-width: 500px){
    .main{
        max-width: 90%;
        min-width: 80%;
        margin-top: 30px;
    }
    .keypad{
        grid-template-columns: repeat(4, minmax(50px, 1fr));


        .del, .reset-btn, .equal-btn{
            font-size: 15px;
            padding: 0.5rem;
        }
    }

}